html{
    scroll-behavior: smooth;
}
.logo{
    width: 170px;
    height: 60px;
}
.nav-color{
    background-color: #223C55 !important;
}
.nav-link{
    cursor: pointer;
}
#content{
    width: 100%;
    background-color: #0f4768 !important;
    height: max-content;
}

#introduction{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.fade{
    background-image:-webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0') !important;
}
.element{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 90%;
    background-color: #3e6e9f !important;
}
.portrait{
    object-fit: scale-down;
    width:80%;
    height: 80%;
    border-radius: 10%;
}
.portrait-text{
    font-size: 3rem;
}

.section {
    height: 100vh; /* Jede Sektion nimmt die volle Höhe des Fensters ein */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro {
    background-color: #f0f0f0;
}

.block-container {
    height: 300vh; /* Simuliert langen Scrollbereich */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block {
    width: 300px;
    height: 200px;
    background-color: #007BFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0; /* Anfangs unsichtbar */
    transform: translateY(100px); /* Startposition der Blöcke */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Glatte Animationen */
}

/* Wenn die Blöcke sichtbar werden */
.block.show {
    opacity: 1;
    transform: translateY(0); /* Zurück auf normale Position */
}


.imprint{
    width: 100%;
}

.footer{
    display: flex;
    justify-content: end;
    padding-right: 3vw;
    padding-bottom: 3vh;
}
.going-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
.going-up:hover{
    cursor: pointer;
}
.dot {
    height: 70px;
    width: 70px;
    background-color: rgba(105,105,105, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
.dot:hover {
    background-color: rgba(161, 161, 161, 0.8);
}

.arrow{
    color:black;
    font-size: 3rem;
}

/* Mobile Styles */
@media (max-width: 991px) {
    .navbar-collapse {
        height: 85vh;
    }
    .navbar-nav{
        height: 85vh;
        display: flex;
        justify-content: start;
        padding-top: 15vh;
        align-items: center;

    }
    .nav-item{
        margin: 2vh;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus{
        outline: none;
        box-shadow: none;
        border-color: #7bbfff !important;
    }
    #introduction{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .element{
        display: flex;
        justify-content: center;
        width: 100%;
        height:90vh;
        background-color: green;
        border: 1px solid black;
    }
    .portrait-text{
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

}
@media (min-width: 992px) and (max-width: 1400px){
    .navbar-nav{
        display: flex;
        justify-content: end;
    }
    .navbar-collapse{
        display: flex;
        justify-content: end;
        padding-right:5vw;
    }
}
@media (min-width: 1401px) {
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .navbar-collapse{
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }

}
