/* ==================== */
/*       Global         */
/* ==================== */
@font-face {
    font-family: '7-segment';
    src: url('../fonts/Seven Segment.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'code-font';
    src: url('../fonts/MPLUS1Code-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}

/* ==================== */
/*       Header         */
/* ==================== */
.logo{
    width: 170px;
    height: 60px;
}
.nav-color{
    background-color: #223C55 !important;
}
.nav-link{
    cursor: pointer;
}

/* ==================== */
/*       Welcome        */
/* ==================== */

#content{
    width: 100%;
    background-color: #0f4768 !important;
    height: max-content;
}

#introduction{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

.img_universe {
    position: relative;
    width: 50%;
    height: 90vh;
    overflow: hidden;
}

.img_universe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0f4768),
    url("../img/background-4094945_1920.jpg"), center;
    background-size: cover;
    opacity: 0.6;
    z-index: 1;
}

.element {
    font-size: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 2;
    font-family: "code-font", Serif;
}

.portrait{
    object-fit: scale-down;
    width:70%;
    height: 70%;
    border-radius: 40%;
    margin-top:3vh;
}
.portrait-text{
    font-size: 3rem;
}
.portrait-text-small{
    font-size: 1.2rem;
}
/* ==================== */
/*   animated Blocks    */
/* ==================== */
.section {
    height: 100vh; /* Jede Sektion nimmt die volle Höhe des Fensters ein */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block-container {
    height: 550vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block {
    width: 100%;
    background-color: #0F4768;
    height: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.block.show {
    opacity: 1;
    transform: translateY(0);
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:1vw;
    padding-bottom:1vw;
    background: linear-gradient(360deg , rgba(255, 255, 255, 0), #0F4768),
    linear-gradient(180deg , rgba(255, 255, 255, 0), #0F4768),
    #000000;
}
.personal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top:1vw;
    padding-bottom:1vw;
    background: linear-gradient(360deg , rgba(255, 255, 255, 0), #0F4768),
    linear-gradient(180deg , rgba(255, 255, 255, 0), #0F4768),
    #000000;

}
.part-two{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:transparent;
    color: white;
    font-size: 2rem;
}

.tech-stack{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    padding-top:1vw;
    padding-bottom:1vw;
    background: linear-gradient(360deg , rgba(255, 255, 255, 0), #0f4768),
    linear-gradient(180deg , rgba(255, 255, 255, 0), #0f4768),
    url("../img/code-944504_1920.jpg"), center;
}

.headline{
    font-size: 3rem;
    padding-top: 1vh;
    padding-bottom: 3vh;
    color: white;
    font-family: code-font,Serif;
}

.tech-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
.csharp{
    margin-right: 1vw;
}
.others{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 4vw;
    margin-left: 7vw;
}

.hobbies{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    padding-top:1vw;
    padding-bottom:1vw;
    background-color: #0f4768;
}
.hobbie-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}
.fade-book{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color:  #0f4768;
}
.pic-book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40vh;
    background: linear-gradient(360deg , rgba(255, 255, 255, 0), #0f4768),
    linear-gradient(180deg , rgba(255, 255, 255, 0), #0f4768),
    url("../img/bookcases-1869616_1920.jpg"), center;
    background-size: cover;
}
.fade-mtb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background-color:  #0f4768;
}
.pic-mtb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 40vh;
    background: linear-gradient(360deg , rgba(255, 255, 255, 0), #0f4768),
    linear-gradient(180deg , rgba(255, 255, 255, 0), #0f4768),
    url("../img/IMG_8781.JPG"), center;
    background-size: cover;
}

.font-xlarge{
    font-size: 10rem;
    font-family: '7-segment', Serif;
}
.font-large{
    font-size: 5rem;
    margin-bottom: 10vh;
    font-family: code-font,Serif;
}
.font-medium{
    font-size: 2rem;
    font-family: '7-segment',Serif;
}


/* ==================== */
/*        Footer        */
/* ==================== */
.footer{
    display: flex;
    justify-content: end;
    padding-right: 3vw;
    padding-bottom: 3vh;
}
.going-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
.going-up:hover{
    cursor: pointer;
}
.dot {
    height: 70px;
    width: 70px;
    background-color: rgba(105,105,105, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
.dot:hover {
    background-color: rgba(161, 161, 161, 0.8);
}

.arrow{
    color:black;
    font-size: 3rem;
}

.end-content{
    width: 100%;
    height: max-content;
    background-color: #223C55;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.data{
    margin-left: 3vw;
    padding:2vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 30%;
    height: 100%;
    background-color: transparent;
    color: white;
}

.end-footer{
    display: flex;
    justify-content: end;
    align-items:end;
    padding-bottom: 1vh;
    padding-right: 3vw;
    width: 100%;
    height: 10vh;
    background-color: #223C55;
    color: white;
}




/* ==================== */
/*  Responsive Mobile   */
/* ==================== */
@media (max-width: 991px) {
    .navbar-collapse {
        height: 85vh;
    }
    .navbar-nav{
        height: 85vh;
        display: flex;
        justify-content: start;
        padding-top: 15vh;
        align-items: center;

    }
    .nav-item{
        margin: 2vh;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus{
        outline: none;
        box-shadow: none;
        border-color: #7bbfff !important;
    }
    #introduction{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .img_universe::before {


        opacity: 0.6; /* Das Hintergrundbild wird mit 20% Sichtbarkeit angezeigt */
        z-index: 1;
    }
    .block-container{
        height: max-content;
    }
    .placeholder-mobile{
        width: 100%;
        background-color:#0f4768;
        height: 13vh;
    }
    .element{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:90vh;
    }
    .portrait-text{
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }
    .portrait-text-small{
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
    }
    .portrait{
        object-fit: scale-down;
        width:70%;
        height: 70%;
        margin-top:0vh;
    }
    .headline{
        font-size: 2rem;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .font-large{
        font-size: 3rem;
        margin-bottom: 8vh;
        font-family: code-font,Serif;
    }
    .end-footer{
        padding-right: 5vw;

    }
    .end-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .data{
        width: 90%;
        padding-top:3vh;
    }
    .placeholder{
        width: 100%;
        background-color:#223C55;
        height: 3vh;
    }
    .personal{
        flex-direction: column;
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 100%;
    }
    .part-two{
        width:100%;
        margin-bottom: 15vh;
    }
    .part-two-wo-margin{
        width:100%;
    }
    .font-xlarge{
        font-size: 6rem;
        font-family: '7-segment', Serif;
    }
    .tech-stack{
        height: max-content;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0f4768),
        linear-gradient(to top, rgba(255, 255, 255, 0), #0f4768),
        url("../img/code-1839877_1920.jpg"), url("../img/code-944504_1920.jpg"),center, repeat-y;
    }
    .tech-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .others{
        margin-bottom: 10vh;
        margin-top: 5vh;
    }
    .csharp{
        margin-bottom: 10vh;
    }
    .hobbie-content{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: fit-content;
    }
    .fade-mtb{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .pic-mtb{
        width: 100%;
        height: 40vh;
        background: linear-gradient(360deg , rgba(255, 255, 255, 0), #0f4768),
        linear-gradient(180deg , rgba(255, 255, 255, 0), #0f4768),
        url("../img/IMG_8781.JPG"), center;
        background-size: cover;
    }

}
/* ==================== */
/*  responsive NavBar  */
/* ==================== */
@media (min-width: 992px) and (max-width: 1400px){
    .navbar-nav{
        display: flex;
        justify-content: end;
    }
    .navbar-collapse{
        display: flex;
        justify-content: end;
        padding-right:5vw;
    }
}
@media (min-width: 1401px) {
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .navbar-collapse{
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }

}
