/* ==================== */
/*       Global         */
/* ==================== */
html{
    scroll-behavior: smooth;
}

/* ==================== */
/*       Header         */
/* ==================== */
.logo{
    width: 170px;
    height: 60px;
}
.nav-color{
    background-color: #223C55 !important;
}
.nav-link{
    cursor: pointer;
}

/* ==================== */
/*       Welcome        */
/* ==================== */

#content{
    width: 100%;
    background-color: #0f4768 !important;
    height: max-content;
}

#introduction{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

.img_universe {
    position: relative;
    width: 50%;
    height: 90vh;
    overflow: hidden;
}

.img_universe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0f4768),
    url("../img/background-4094945_1920.jpg"), center;
    background-size: cover;
    opacity: 0.6;
    z-index: 1;
}

.element {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 2;
}

.portrait{
    object-fit: scale-down;
    width:80%;
    height: 80%;
    border-radius: 10%;
}
.portrait-text{
    font-size: 3rem;
}
/* ==================== */
/*   animated Blocks    */
/* ==================== */
.section {
    height: 100vh; /* Jede Sektion nimmt die volle Höhe des Fensters ein */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block-container {
    height: 300vh; /* Simuliert langen Scrollbereich */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block {
    width: 70%;
    height: 40%;
    background-color: transparent;/*#007BFF*/
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    /*border:solid black 1px;*/
}

.block.show {
    opacity: 1;
    transform: translateY(0);
}

/* ==================== */
/*        Footer        */
/* ==================== */
.footer{
    display: flex;
    justify-content: end;
    padding-right: 3vw;
    padding-bottom: 3vh;
}
.going-up{
    display: flex;
    justify-content: center;
    align-items: center;
}
.going-up:hover{
    cursor: pointer;
}
.dot {
    height: 70px;
    width: 70px;
    background-color: rgba(105,105,105, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
.dot:hover {
    background-color: rgba(161, 161, 161, 0.8);
}

.arrow{
    color:black;
    font-size: 3rem;
}

.end-content{
    width: 100%;
    height: 50vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0f4768;
    color: white;
    border: solid green 2px;
}
.end-footer{
    display: flex;
    justify-content: end;
    align-items:end;
    padding-bottom: 1vh;
    padding-right: 3vw;
    width: 100%;
    height: 10vh;
    background-color: #223C55;
    color: white;
}




/* ==================== */
/*  Responsive Mobile   */
/* ==================== */
@media (max-width: 991px) {
    .navbar-collapse {
        height: 85vh;
    }
    .navbar-nav{
        height: 85vh;
        display: flex;
        justify-content: start;
        padding-top: 15vh;
        align-items: center;

    }
    .nav-item{
        margin: 2vh;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus{
        outline: none;
        box-shadow: none;
        border-color: #7bbfff !important;
    }
    #introduction{
        display:flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .img_universe::before {


        opacity: 0.6; /* Das Hintergrundbild wird mit 20% Sichtbarkeit angezeigt */
        z-index: 1;
    }
    .element{
        display: flex;
        justify-content: center;
        width: 100%;
        height:90vh;
    }
    .portrait-text{
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }
    .portrait{
        object-fit: scale-down;
        width:70%;
        height: 70%;
    }

    .end-footer{
        padding-right: 5vw;

    }

}
/* ==================== */
/*  responsive NavBar  */
/* ==================== */
@media (min-width: 992px) and (max-width: 1400px){
    .navbar-nav{
        display: flex;
        justify-content: end;
    }
    .navbar-collapse{
        display: flex;
        justify-content: end;
        padding-right:5vw;
    }
}
@media (min-width: 1401px) {
    .navbar-nav{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .navbar-collapse{
        display: flex;
        justify-content: end;
        padding-right: 5vw;
    }

}
