#container{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    background-color: red;
    justify-content: space-between;
}
.logo{
    width: auto;
    height: 20vh;
    padding: 3vh;
    display: flex;
    background-color: red;
    justify-content: start;
}
.imageLogo{
    background-repeat: no-repeat;
    justify-content: start;
    align-content: center;
    object-fit: scale-down;
}
.headerText{
    justify-content: start;
    align-content: center;
    padding-left: 3vw;
    font-size: 50px;
}
.user{
    margin-right: 3vw;
    width:auto;
    height: 20vh;
}
.imageUser{
    height: 20vh;
    width: 3vw;
    object-fit: scale-down;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: whitesmoke;
    height:5vh;

}
.picture{
    height: 5vh;
    object-fit: scale-down;
    margin-left: 1vw;
}
.picture_mail{
    height: 3vh;
    object-fit: scale-down;
    margin-left: 1vw;
}
.searchicon{
    width:20px;
    height: 20px;
}
.reports{
    display: flex;
    flex-wrap: wrap;
    margin-top:3vh;
    justify-content: space-around;
    background-color: darkgray;
}
.item-reports {
    width: 30vw;
    border: 1px solid;
    padding: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

.item-reports button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid #007bff;
    color: whitesmoke;
    background-color: transparent;
}
.footer{
    background-color: whitesmoke;
    padding: 1vw;
}
@media (max-device-width: 768px) {
    #container{
        background-color: red;
    }
    .headerText{
        font-size: 50px;
    }
    .navbar{
        font-size: 50px;
    }
    .navbar-brand {
        font-size:50px !important;
        color:red;/* Größere Schriftgröße für den Text*/
    }
    .navbar-toggler-icon {
        font-size: 50px; /* Größere Schriftgröße für das Icon*/
    }
    .dropdown-item{
        font-size: 45px;
    }
    .imageLogo{
        width: 20vw;
    }
    .imageUser{
        width: 9vw;
    }
    .user{
        margin: auto;
        justify-content: end;
    }
    .headerText{
        justify-content: center;
        margin:auto;
    }
    .searchicon{
        width: 40px;
        height: 40px;
    }
    .font{
        font-size: 25px;
    }
    .picture_mail{
        margin-left: 5vw;
        width: 7vw;
    }
    .reports{
        flex-direction: column;
    }
    .reports{
        flex-wrap: wrap;
    }
    .item-reports{
        width: 90%;
        border: 1px solid;
        padding: 2vh;
        margin: 2vh;
        text-align: center;
    }
    .footer{
        font-size: 30px;
    }

;
}


