#container{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    background-color: red;
    justify-content: space-between;
}
.logo{
    width: auto;
    height: 20vh;
    padding: 3vh;
    display: flex;
    background-color: red;
    justify-content: start;
}
.userInteraction{
    width: auto;
    height: 20vh;
    padding: 3vh;
    display:flex;
    justify-content: end;
    align-items: center;
    background-color: darkmagenta;
}
.userPicture{
    width:30px;
    height: 30px;
    object-fit: scale-down;
}
.imageLogo{
    background-repeat: no-repeat;
    justify-content: start;
    align-content: center;
    object-fit: scale-down;
}
.headerText{
    justify-content: start;
    align-content: center;
    padding-left: 3vw;
    font-size: 50px;
}
@media (max-device-width: 768px) {
    #container{
        background-color: blue;
    }
    .navbar{
        font-size: 60px;
    }
    .navbar-brand {
        font-size:60px !important;
        color:red;/* Größere Schriftgröße für den Text*/
    }
    /*Navbar Collapse Icon Größe anpassen*/
    .navbar-toggler-icon {
        font-size: 60px; /* Größere Schriftgröße für das Icon*/
    }
    .dropdown-item{
        font-size: 60px;
    }
}


