#container{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    background-color: #D60700;
    justify-content: space-between;
    color:whitesmoke;
}
body{
    background-color: whitesmoke;
    height: 100%;
    margin:0;
    width: 100%;
}
.logo{
    width: auto;
    height: 15vh;
    padding: 3vh;
    display: flex;
    /*background-color: #D60700;*/
    background-color: #D60700;
    justify-content: start;
}
#navbar{
    width: 100%;
}
.imageLogo{
    background-repeat: no-repeat;
    justify-content: start;
    align-content: center;
    object-fit: scale-down;
}
.headerText{
    justify-content: start;
    align-content: center;
    padding-left: 3vw;
    font-size: 50px;
    background-color: transparent;
}
.user{
    margin-right: 5%;
    width:auto;
    height: 15vh;
    justify-content: end;
}
.imageUser{
    height: 15vh;
    width: 3vw;
    object-fit: scale-down;
    background-color: #D60700;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: whitesmoke;
    height:5vh;
    margin-bottom: 1vh;
}
.picture_logos{
    height: 5vh;
    object-fit: scale-down;
    margin-left: 1vw;
}
.picture_pc{
    width: 100%;
    height: 70vh;
    object-fit: scale-down;
    background-size: cover;
    background-color: darkgrey;

}
.picture_mail{
    height: 3vh;
    object-fit: scale-down;
    margin-left: 1vw;
}
.searchicon{
    width:20px;
    height: 20px;
}
.reports{
    display: flex;
    flex-wrap: wrap;
    margin-top:2vh;
    justify-content: space-evenly;
    background-color: whitesmoke;
}
.item-reports {
    width: 27vw;
    border: 1px solid;
    padding: 3vh;
    margin-bottom: 2vh;
    text-align: center;
    border-radius: 10px;
}

.item-reports button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid red;
    color: black;
    padding:0.5vw;
    background-color: transparent;
    border-radius: 6px;
}
.item-reports img{
    width: 22vw;
    height: 27vh;
    object-fit: scale-down;
    margin-bottom: 1vh;
}
.footer{
    background-color: whitesmoke;
    padding: 1vw;
}
@media (max-device-width: 768px) {
    #container{
        background-color: #D60700;
    }
    .headerText{
        font-size: 50px;
        background-color: yellowgreen;
        align-content: center;
        margin: auto;
    }
    .navbar{
        font-size: 50px;
    }
    .navbar-brand {
        font-size:50px !important;
        color:#D60700;
    }
    .navbar-toggler-icon {
        font-size: 50px; /* Größere Schriftgröße für das Icon*/
    }
    .dropdown-item{
        font-size: 45px;
    }
    .imageLogo{
        width: 12vw;
        height: 11vh;
        object-fit: scale-down;
    }
    .imageUser{
        width: 10vw;
        height: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
        background-color: #D60700;
    }
    .user{
        width: 35vw;
        background-color: #D60700;
        display: flex;
        justify-content: end;
    }
    .logo{
        width: fit-content;
        padding: 2px;
        background-color: transparent;
        align-items: center;
    }
    .font{
        font-size: 25px;
    }
    .picture_mail{
        margin-left: 5vw;
        width: 7vw;
    }
    .picture_pc{
        background-position: center;
        height:30vh;
        object-fit: cover;
    }
    .reports{
        flex-direction: column;
        margin-top:5vh;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        justify-content: center;
    }
    .item-reports{
        width: fit-content;
        height: max-content;
        border: 1px solid;
        padding: 1vh;
        margin-top: 0.5vh;
        margin-bottom: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
        text-align: center;
    }
    .item-reports button {
        margin-top:1vh;
        width:fit-content;
        height: fit-content;
        padding:1vw;
        font-size: 30px;
        border: 1px solid red;
        color: black;
    }
    .item-reports h3{
        font-size: 50px;
    }
    .item-reports p{
        font-size: 35px;
    }
    .item-reports img{
        width: 100%;
        object-fit: contain;
    }
    .footer{
        font-size: 30px;
    }
;
}
@media (min-device-width: 769px) and (max-device-width: 1700px){
    #container{
        background-color: #D60700;
        height: max-content;
    }
    .navbar{
        font-size: 50px;
        width: 100%;
    }
    .navbar-brand {
        font-size:35px !important;
        color:#D60700;
    }
    .nav-item{
        font-size: 30px;
    }
    .navbar-toggler-icon {
        font-size: 50px; /* Größere Schriftgröße für das Icon*/
    }
    .imageLogo{
        width: 10vw;
    }
    .user{
        width: 50vw;
        background-color:  #D60700;
        display: flex;
        justify-content: end;
    }
    .imageUser{
        width: 7vw;
        object-fit: scale-down;
    }
    .headerText{
        font-size: 40px;
        width: max-content;
        display: flex;
        align-items: center;
        background-color: blue;
    }
    .searchicon{
        width: 40px;
        height: 40px;
    }
    .font{
        font-size: 25px;
    }
    .picture_mail{
        margin-left: 5vw;
        width: 7vw;
    }
    .reports{
        flex-direction: column;
        margin-top:5vh;
    }
    .reports{
        flex-wrap: wrap;
        width: fit-content;
        margin-left: 8vw;
        margin-right: 8vw;
    }
    .item-reports{
        width: fit-content;
        border: 1px solid;
        padding: 1vh;
        margin-top: 0.5vh;
        margin-bottom: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
        text-align: center;
    }
    .item-reports button {
        margin-top:1vh;
        width:fit-content;
        height: fit-content;
        font-size: 30px;
        padding:1vw;
        border: 1px solid red;
        color: black;
    }
    .item-reports h3{
        font-size: 50px;
    }
    .item-reports p{
        font-size: 35px;
    }
    .item-reports img{
        width: 100%;
        height: max-content;
        object-fit: contain;
    }
    .picture-report{
        width: 100%;
        object-fit: contain;
    }
    .footer{
        font-size: 30px;
    }
;
}
@media (max-device-width: 768px) and (orientation: landscape){
    .picture_pc{
        height: max-content;
    }
}
